.navbar{
    display: flex;
    position: sticky;
    z-index: 10000;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: rgb(1, 1, 18);
}
.navbar ul{
    display: flex;
    
}
  nav li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    padding: 60px;
    color:violet;
}
.navbar a:hover{
    color: cyan;
}
.hamburger{
    float:right;
    display:none;
    cursor:pointer;
}
.bar{
    background-color:white;
    width: 30px;
    height:3px;
    margin: 5px;
    display:block;
}
.phone-navbar{
    position:fixed;
    display:flex;
    flex-direction: column;
    width:100%;
    background-color: rgb(56, 56, 101);
    align-items:center;
    justify-content:center;
    left:-100%;
    z-index:10000;

      
}
.phone-navbar ul{
    list-style:none;
    margin-left: 0;
    
}
.phone-navbar ul li{
    color:white;
    margin: 5px;
    width: 100%;
    padding:5px;

}
.phone-navbar ul li a{
    text-decoration:none ;
    padding: 20px;
    display: block;
    color: aliceblue;
    font-size: 16px;
    cursor:pointer;
}
.phone-navbar ul li :hover{
    background-color: rgb(82, 82, 150);;
    color: cyan;
    cursor:pointer;
}
.name {
    color: violet;
}
body{
    background-image: url(images/pexels-steve-30018091.jpg);
    background-position:center ;
    background-attachment: fixed;
    background-repeat:no-repeat ;
    background-size: cover;
    backdrop-filter:blur(10px) ;
    
    color: aliceblue;
}
main{
    padding: 20px;
    
}
.overview{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    

}
.overview-text{
    flex: 1;
    width: 50%;
    padding-right: 20px;
}
.threed{
    width: 50%;
    
    padding-left: 20px;
    perspective: 1000px;
    float: right;
}
.threed img{
    width: 400px;
    height: 250px;
    animation: spin 5s linear infinite;
    transform-origin: center;
    transform-style: preserve-3d;
}
@keyframes spin {
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
    
}
.link{
    text-decoration: none;
    display: inline-block;
    color: violet;
    font-weight: 30px;
    border: 1px solid aliceblue;
    border-radius: 30px;
    padding:  5px 50px;
}
.link:hover{
    color: cyan;
}


.subtitle{
    margin: 0;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    background-size: 100% 100%;
    background: linear-gradient(to right ,cyan,violet);
    color: transparent;
    -webkit-text-fill-color: transparent !important;
    background-clip: text;
    -webkit-background-clip: text;
    animation: gradient-animation 5s ease infinite;
}
@keyframes gradient-animation{
    0%{
        background: linear-gradient(to right,cyan,violet);
        background-size: 100% 100%;
        background-clip: text;
    }
    50%{
        background: linear-gradient(to right,pink,cyan);
        background-size: 100% 100%;
        background-clip: text;
    }
100%{
    background: linear(to right,cyan ,violet);
    background-size: 100% 100%;
    background-clip: text;
}
}
marquee{
    text-align: center;
}
.heading{
    color: violet;
    text-align: center;
    font-weight: bold;
    font-size:35px ;
}
.auction-box{
    display: flex;
    flex-wrap: nowrap;
}
.inner-auction-box{
    width: 50%;
    border: 2px solid ;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    animation: glow 5s infinite alternate;

    
}
@keyframes glow{
    0%{
        box-shadow: 0 0 5px cyan  , 0 0 10px cyan;
    }
    50%{
        box-shadow: 0 0 20px cyan , 0 0 40px cyan;
    }
    100%{
        box-shadow: 0 0 5px cyan , 0 0 10px cyan;
    }
}
.inner-auction-box img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.contact-form{
    margin-left: 15%;
    margin-right: 15%;
    
}
.input{
    display:flex;
    flex-direction: column;
}
.contact-input{
    
    height: 50px;
    border: none;
    border-radius: 40px;
    padding: 5px 20px;
    margin-bottom: 5px;
    background: linear-gradient(300deg,lightblue,white);
    
}
.contact-form textarea{
    border-radius: 20px;
    height: 100px;
    width: 100%;
    padding-top: 15px;
    background: linear-gradient(300deg,lightblue,white);
}
.contact-form button{
    width: 100%;
    border: none;
    border-radius: 50px;
    height: 50px;
    background: linear-gradient(270deg,pink,cyan);
    font-size: 20px;
    

}
.contact-form button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.homebase{
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: ce;
    
}
.inner-homebase{
    height: 150px;
    width: 50%;
    padding: 5px;
    border: solid 1px aliceblue;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
    border-color: aqua;
}
.social-icons{
    display: flex;
    gap: 40px;
}
.social-icons a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    background-size: 100% 100%;
    background: linear-gradient(to right,lime,aqua);
    -webkit-text-fill-color: transparent ;
    background-clip: text;
    animation:social-icon-animation 4s ease infinite ;
}
.social-icons a:hover{
    transform: scale(1.2);
}
@keyframes social-icon-animation{
    from{
        background: linear-gradient(to ,lime,aqua);
        background-size: 100% 100%;
        background-clip: text;
    }
    to{
        background: linear-gradient(to right,aqua,lime);
        background-size: 100% 100%;
        background-clip: text;
    }

}



/* Styles for mobile devices (screen width 768px or less) */
@media only screen and (max-width: 768px) {
    .hamburger{
        display:block;
    }
    body {
        font-size: 12px; 
        margin: 0px;
    }

    main {
        padding: 15px; 
    }

    .navbar {
        display:flex;
        margin-left: 0px;
        width: 100%;
        justify-content: space-between;
        
    }
    .navbar nav{
        display: block;
    }
    .navbar ul{
        display:none;
    }
        
    .navbar ul li:hover{
        background-color: rgb(36, 15, 15);
    }
    

    
    img {
        max-width: 100%;
        height: auto;
    }
    .phone-navbar.active{
        left:0;
    }
    .phone-navbar ul li a{
        padding: 20px;
        font-size: 18px;

    }
    .phone-navbar ul li a:hover{
        color:cyan;
        cursor:pointer;

    }
    
    main.active{
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:rotate(45deg) translateY(12px);
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(3){
        transform:rotate(-45deg) translateY(-12px);
    }

    
}





